.main {
  max-width: 992px;
  margin: 0 auto;
  background-color: #e5e5e5;
}
.box_scroll {
  gap: 16px;
}
.item_sale {
  gap: 15px;
}
.item_icon img {
  padding: 0 13px;
}
.item_select {
  max-width: 66px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.list_item_home {
  justify-content: center;
}
.scroll_item {
  padding-right: 15px;
  max-height: 84px;
  margin: 2px 0;
}
.item_name_select {
  font-size: 12px;
}
.list_item_sale {
  background: #00baf1;
}
.number {
  color: var(--color--count);
  font-size: 16px;
}
.number label {
  background-color: var(--color--count);
  font-weight: bold;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  padding: 6px;
  line-height: 17px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.number span {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title_section {
  height: 62px;
}
.name_item {
  padding-bottom: 4px;
  font-size: 13px;
  color: var(--color--item--sale);
  line-height: 19px;
}
.old_price {
  color: var(--color--header);
  line-height: 24px;
}
.new_price {
  color: var(--color--item--sale);
  line-height: 24px;
}
.bought {
  font-size: 14px;
  line-height: 20px;
  color: var(--color--item--bought);
}
.see_more {
  right: 10px;
}

.voucher .voucher_headding {
  padding-right: 10px;
}
.select_item_voucher {
  padding-left: var(--padding--headding);
  padding-top: var(--padding--headding);
  padding-bottom: var(--padding--headding);
  min-width: 310px;
}
.voucher_id {
  padding-right: var(--padding--headding);
}
.voucher_id span {
  font-size: 12px;
  color: var(--color--dateoffuse);
}
.infor_voucher {
  padding: 0 var(--padding--common);
}
.infor_voucher p {
  color: var(--color--voucher);
}
.infor_voucher .infor_sale {
  font-size: 12px;
  color: var(--color--infor--voucher);
}
.infor_date span {
  font-size: 12px;
}
.infor_date button {
  padding: 6px 11px;
  font-size: 12px;
  background: var(--color--button);
  color: white;
}
.best_seller {
  background: url("https://shop.dimuadi.vn/_next/static/media/bg-prod-sale.f277666a353432da77d84d9cd5d74d3e.jpg");
  background-size: cover;
}
.list_item_sale .title_section {
  height: 62px;
}
.list_item_sale .title_section .title_headding {
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  line-height: 24px;
}
.title_section {
  height: 56px;
}
.best_seller .name_item {
  padding: 0;
}
.best_seller .bought {
  margin-top: 2px;
}
.contain_infor {
  padding-bottom: var(--padding--common);
}
.text_color {
  color: var(--color--item--sale);
}
.hot_local_logo {
  gap: 43px;
  padding: var(--padding--common) 0;
  justify-content: center;
}
.slick-list {
  justify-content: center;
  padding: 0 10px;
}
.slick-list li {
  padding: 14px 0;
  line-height: 20px;
  font-size: 14px;
  border-bottom: 1px solid #d9d9d9;
}
.btn_pres,
.btn_next {
  border-bottom: none !important;
}
.active {
  border-bottom: 1px solid #3aa12a !important;
}
.btn_arrow {
  left: 10px;
}
.btn_next {
  right: 10px;
}
.item_seller img {
  max-width: 100%;
}
.item_seller .new_price {
  font-size: 17px;
}
.item_seller .bought {
  font-size: 16px;
  color: var(--color--price);
}
.item_recommmen {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.mobile,
.banner_under_mobile {
  display: none;
}
